

body{
  background-color: rgb(229, 246, 241);
  font-family: 'Roboto';
}


html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}